@defer () {
    <div class="statbox widget box box-shadow">
        <div className="col-12 text-end layout-top-spacing" >
            <button type="button" class="btn btn-sm btn-primary mb-2 me-4" data-bs-toggle="modal" data-bs-target="#bd-example-modal-xl">Extra large</button>
        </div>

            <p-table
                class="table"
                [value]="roles()"
                [lazy]="true"
                (onLazyLoad)="loadRoles($event)"
                dataKey="_id"
                [tableStyle]="{ 'min-width': '75rem' }"
                [selection]="selectedRoles()"
                (selectionChange)="onSelectionChange($event)"
                [selectAll]="selectAll"
                (selectAllChange)="onSelectAllChange($event)"
                [paginator]="true"
                [rows]="5"
                [totalRecords]="totalRecords()"
                [loading]="loading"
                [rowsPerPageOptions]="[5,10,25]"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [scrollable]="true"
                scrollHeight="calc(100vh - 195px)"
                [tableStyle]="{'font-size' : '0.875rem','width': '100%', }"
                selectionMode="single"
                [showCurrentPageReport]="true"
                [paginatorStyleClass]="'fs text-end justify-content-end'"
            >
                <ng-template pTemplate="header" >
                    <tr class="text-center" style="position: relative;z-index: 1;">
                        <th style="width: 30px;max-width: 30px;">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th style="width: 120px; max-width: 120px;"  pSortableColumn="name" >Name <p-sortIcon field="name"></p-sortIcon></th>
                        <th style="width: 150px; max-width: 150px;">Description</th>
                        <th style="width: 80px; max-width: 80px;">Created</th>
                        <th style="width: 100px; min-width: 100px; max-width: 150px;" alignFrozen="right" pFrozenColumn [frozen]="true">Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-role>
                    <tr style="border-bottom: 1px solid gray;">
                        <td class="text-center">
                            <p-tableCheckbox [value]="role"></p-tableCheckbox>
                        </td>
                        <td class="text-center">{{ role.name }}</td>
                        <td>{{ role.description}}</td>
                        <td class="text-center">{{ formateDate(role.created) }}</td>
                        <td class="text-end" alignFrozen="right" pFrozenColumn [frozen]="true">
                            
                                <div class="btn-group mb-2 me-4" style="position: relative; z-index: 9999999;">
                                    <button type="button" class="btn btn-primary">Action</button>
                                    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
                                        <span class="visually-hidden ">Toggle Dropdown</span>
                                    </button>
                                    <div class="dropdown-menu" >
                                        <a class="dropdown-item" href="javascript:void(0);">Action</a>
                                        <a class="dropdown-item" href="javascript:void(0);">Another action</a>
                                        <a class="dropdown-item" href="javascript:void(0);">Something else here</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="javascript:void(0);">Separated link</a>
                                    </div>
                                </div>
                            <!-- <p-splitButton label="Save"  icon="i-btn fa fa-search"  title="View document" (onClick)="onSave(role)"  [model]="items" (onDropdownClick)="onActions(role)" appendTo="body" styleClass="p-button-sm fs"></p-splitButton> -->
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="5" style="text-align: center;">No roles found.  <i class="pi pi-bolt" style="color: rgb(246, 255, 0);"></i></td>
                    </tr>
                </ng-template>
            </p-table>

        <app-create-update [id]="idRole()" />
    </div>
}@placeholder(minimum 0.8s) {
    <app-load [screen]="false"  />
}