<div class="row layout-top-spacing">
    <div class="col-12 d-flex justify-content-end">
        <div class="mb-1">
            <button class="btn btn-sm btn-primary" title="Create new user" data-bs-toggle="modal" data-bs-target="#RoleUpdateCreate" data-control="createUpdateUsers">Create</button>
        </div>
    </div>

    <div class="col-12">
        <div class="card">
            <div class="card-header card-header-icon">
                <div class="card-header-icon">
                    <span class="btn btn-sm btn-icon btn-rounded bg-primary" id="prueba">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" strokeWidth="2" strokeLinecap="round" strokeLinejoin="round">
                            X
                        </svg>
                    </span>
                </div>
                dfsdfdsf
            </div>
            <div class='card-body toggleSlide'>
                <div>
                    asasasasas
                </div>
            </div>
        </div>
    </div>
    
</div>