/* scroll */

.scrollwrap {
    overflow-y: auto;
    visibility: hidden;
    height: calc(100vh - 80px);
}

.menu-bar,
.scrollwrap:hover,
.scrollwrap:focus {
    visibility: visible;
}

.scrollwrap_delayed {
    transition: visibility 0.3s 0.1s;
}

.scrollwrap_delayed:hover {
    transition: visibility 0.3s 0.1s;
}

.scrollwrap::-webkit-scrollbar {
    width: 8px;
}

.scrollwrap::-webkit-scrollbar-track {
    background-color: transparent;
}

.scrollwrap::-webkit-scrollbar-thumb {
    background-color: #0A82FD;
    border-radius: 20px;
}

.scrollwrap {
    scrollbar-width: thin;
    scrollbar-color: #0A82FD transparent;
}