



@defer () {
    <ng-container >
        <!--  BEGIN NAVBAR  -->
        <div class="header-container container-xxl">
            <app-header />
        </div>
        <!--  END NAVBAR  -->

        <!--  BEGIN MAIN CONTAINER  -->
        <div class="main-container" id="container">

            <div class="overlay"></div>
            <div class="search-overlay"></div>

            <!--  BEGIN SIDEBAR  -->
            <app-sidenav/>
            <!--  END SIDEBAR  -->
            
            <!--  BEGIN CONTENT AREA  -->
            <div id="content" class="main-content">
                
                <router-outlet></router-outlet>
                
            </div>
            <!--  END CONTENT AREA  -->

        </div>
        <!-- END MAIN CONTAINER -->
    </ng-container>

}@placeholder(minimum 0.8s) {
    <app-load [screen]="true"  />
}