@import url('./css/main.css');
@import url('./css/switches.css');
@import url('./css/structure.css');

.icon-password {
    cursor: pointer;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 48%;
    transform: translateY(-50%);
    right: 12px;
    z-index: 6;
}

.icon-password svg {
    color: rgb(24, 26, 32);
}

.input-group:focus .icon-password svg,
.input-group:hover .icon-password svg {
    color: rgb(24, 26, 32);
    fill: rgb(252, 213, 53, 0.7392156863);
}

.input-error .form-control {
    border-color: rgb(246, 70, 93) !important;
}

.input-error .form-control:focus ~ .icon-password svg,
.input-error .form-control:focus ~ .input-group-text svg,
.input-group:hover.input-error .icon-password svg,
.input-error svg {
    color: rgb(246, 70, 93) !important;
    fill: rgba(255, 178, 178, 0.342) !important;
}

.card .card-body.active {
    overflow: hidden;
    animation-name: slide;
    animation-duration: .5s;
}

.card .card-body.inactive {
    height: 0;
    overflow: hidden;
    animation-name: slide-inactive;
    animation-duration: .5s;
}

@keyframes slide {
    from {height: 0;}
    to {height: 100%;}
}

@keyframes slide-inactive {
    from {height: 100%; }
    to {height: 0;} 
}



.toggleSlide {
    opacity: 1; /* En vez de display para crear el efecto de desvanecimiento */
    overflow: hidden;
    transition: height 1s, opacity 1s; /* Transition para la animación */
}


