@import url('../../icon-ecommerce.css');
@import url('./css/main.css');
@import url('./css/switches.css');
@import url('./css/structure.css');

.icon-password {
    cursor: pointer;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 48%;
    transform: translateY(-50%);
    right: 12px;
    z-index: 6;
}

.icon-password svg {
    color: rgb(24, 26, 32);
}

.input-group:focus .icon-password svg,
.input-group:hover .icon-password svg {
    color: rgb(24, 26, 32);
    fill: rgb(252, 213, 53, 0.7392156863);
}

.input-error .form-control {
    border-color: rgb(246, 70, 93) !important;
}

.input-error .form-control:focus ~ .icon-password svg,
.input-error .form-control:focus ~ .input-group-text svg,
.input-group:hover.input-error .icon-password svg,
.input-error svg {
    color: rgb(246, 70, 93) !important;
    fill: rgba(255, 178, 178, 0.342) !important;
}

